<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/dashboard.css"/>
	<link class="colorblind" rel="stylesheet" href="css/colorblinddashboard.css" <%=colorblind%>/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap">
	<title>ProCeed</title>
</head>
<body onload="colorOfButtons()">
	<header>
        <div class="head-container">
            <div class="head-column">
                <a href="/dashboard"><img id="logo-icon" src="/img/logo-notext.png" alt="Logo"></a>
            </div>
            <div class="head-column">
			</div>
            <div class="head-column">
				<h3 class="dash-title">PROJECTS</h3>
			</div>
			<div class="head-column">
			</div>
            <div class="head-column">
				<div class="dropdown">
					<img class="dropdown-btn" id="profile-picture" src="<%= profilePicture%>">
					<div class="dropdown-content">
						<li class="dropdown-li" onclick="linkGitHub('<%=githubProfile%>')">My GitHub</li>
						<li class="dropdown-li" onclick="showGuide()">User-guide</li>
						<li class="dropdown-li" onclick="showAccess()">Accessibility</li>
						<li class="dropdown-li" onclick="signOut()">Sign out</li>
				  </div>
				</div> 
            </div>
        </div>  
    </header>
	<main>			
		<div class="container">
			<div class="column column-1">	
			</div>
			<!----------- 
			EJS file allow us to use javascript within the HTML tags to populate with data from the arrays we send from server to client
			------------->
			<div class="column column-2">
				<p class = "dash-title">OWNED</p>
				<div class="item add" onclick="createNewRepo()" >
					<div class="content">
						<img id="add-img" src="/img/plus.png">
					</div>			                       
				</div>
				<%let repoName;%>
				<%let columnClass;%>
				<%let user = userName;%>
				<%let owned = "owned"%>
				<%let colab = "colab"%>
				<%let repoID = 1%>
				<% for(let i = 0; i < repoNames.length; i++){ %>
					<%repoName = repoNames[i].name%>
					<%if (repoNames[i].owner == user){%>
						<div class="item" onclick="post('<%=repoID + owned%>')">
							<div class="content">
								<h4><%=repoNames[i].name%></h4>
								<h5><%=user%></h5>
								<form id=<%=repoID + owned%> action="/inputName" method="POST">
									<input type="hidden" name="repo" value=<%=repoNames[i].name%>>
								</form>
							</div>			                       
						</div>
					<%}%>
					<%repoID++%>
				<%}%>
			</div>	

			<div class="column column-3">
				<p class = "dash-title">COLLABORATOR</p>
				<%repoID = 1%>
				<% for(let i = 0; i < repoNames.length; i++){ %>
					<%repoName = repoNames[i].name%>
					<%if (repoNames[i].owner != user){%>
						<div class="item" onclick="post('<%=repoID + colab%>')">
							<div class="content">
								<h4><%=repoNames[i].name%></h4>
								<h5><%=repoNames[i].owner%></h5>
								<form id=<%=repoID + colab%> action="/inputName" method="POST">
									<input type="hidden" name="repo" value=<%=repoNames[i].name%>>
								</form>
							</div>			                       
						</div>
					<%}%>
					<%repoID++%>
				<%}%>
			</div>
			<div class="column column-4">
			</div>
		</div>
	</main>
	<footer></footer>
	<script type="text/javascript" src="scripts/index.js"></script>
	<script type="text/javascript" src="scripts/dashboard.js"></script>
</body>
</html>