<!DOCTYPE html>
<html>
<head>

	<!--- popup https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_target_modal --->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/mainpage.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap">
	<title>ProCeed</title>
</head>

<body>
	<header>
		<div class="head-container">
            <div class="head-column">
                <!--ORDENTLIG LINK MÅ INN I HREF-->
                <a href="/dashboard"><img id="logo-icon" src="/img/logo-notext.png" alt="Logo"></a>
            </div>
            <div class="head-column">
				<h3 class="dash-title">TASKS</h3>
            </div>
            <div class="head-column">
				<div class="dropdown">
					<img class="dropbtn" id="profile-picture" src="<%=profilePicture%>">
					<div class="dropdown-content">
						<li class="dropdown-li" onclick="showGuide()">User-guide</li>
						<li class="dropdown-li" onclick="showAccess()">Accessibility</li>
						<li class="dropdown-li" onclick=""></li>
						<li class="dropdown-li" onclick="signOut()">Sign out</li>
					</div>
				</div> 
            </div> 

        </div>
	</header>
	<main>
		<div class="container">
			<div class="column column-1">
				<p class="main-title">TO DO</p>
				<div class="item-container">
				<!--Code for the left side info-boxes-->
					<div class="item add" value="no-filter" onclick="createNewTask()">
						<div class="content">
							<img id="add-img" src="/img/plus.png">
						</div>
					</div>
					<!--To-Do code-->
					<%for(let i = 0; i < tasks.length; i++){%>
						<%if(tasks[i].status == "to-do" && tasks[i].repoName == repo){%>
							<div class="item" value="<%= tasks[i].owner%>" id="<%=tasks[i].id%>"  onclick="editTask(this.id)" ondrag="changeStatus(this.id)">
								<div class="content">
									<h4><%= tasks[i].title%></h4>
									<h5><%= tasks[i].owner%></h5>
									<h5 hidden><%= tasks[i].category%></h5>
									<p hidden><%= tasks[i].description%></p>
								</div>
							</div>
						<%}%>
					<%}%>
				</div>
			</div>
			<div class="column column-2">
				<p class="main-title">IN PROGRESS</p>
				<div class="item-container">
				<!--Ongoing code-->
					<%for(let i = 0; i < tasks.length; i++){%>
						<%if(tasks[i].status == "in progress" && tasks[i].repoName == repo){%>
							<div class="item" value="<%= tasks[i].owner%>"  id="<%=tasks[i].id%>" onclick="editTask(this.id)">
								<div class="content">
									<div hidden>tasks[i].status</div>
									<h4><%= tasks[i].title%></h4>
									<h5><%= tasks[i].owner%></h5>
									<h5 hidden><%= tasks[i].category%></h5>
									<p hidden><%= tasks[i].description%></p>
								</div>
							</div>
						<%}%>
					<%}%>
				</div>
			</div>
			<div class="column column-3">
				<p class="main-title">COMPLETE</p>
				<div class="item-container">
				<!--Finished code-->
					<%for(let i = 0; i < tasks.length; i++){%>
						<%if(tasks[i].status == "complete" && tasks[i].repoName == repo){%>
							<div class="item" value="<%= tasks[i].owner%>" id="<%=tasks[i].id%>" onclick="editTask(this.id)">
								<div class="content">
									<h4><%= tasks[i].title%></h4>
									<h5><%= tasks[i].owner%></h5>
									<h5 hidden><%= tasks[i].category%></h5>
									<p hidden><%= tasks[i].description%></p>
								</div>
							</div>
						<%}%>
					<%}%>
				</div>
			</div>
			<div class="column column-4">
					<div class="item" value="no-filter">
						<div class="content" >
							<h4>Filter collaborators</h4>
							<li>
								<div class="checkbox-container">
									<input class="checkbox-filter-master" onclick="filterAll(this)" class="filter-checkbox" type="checkbox" checked/>Select all
								</div>
							</li>
								<%for (let i = 0; i < collaborators.length; i++){%>
									<%if (collaborators.length == 0){%>
									<li>No collaborators in repo</li>
									<%}else{%>
									<li>
										<div class="checkbox-container">
   											<input class="checkbox-filter" value="<%=collaborators[i]%>" onclick="filterCollaborators()" type="checkbox" checked/><%=collaborators[i]%>
   										</div>
									</li>
									<%}%>	
								<%}%>
						</div>
					</div>
					<div class="item" value="no-filter">
						<div class="content" >
							<h4>Documentation for languages used in repository</h4>
							<%for (let i = 0; i < repoLanguage.length; i++){%>
								<%if (repoLanguage.length == 0){%>
								<li>No programming languages used in repository</li>
								<%}else{%>
								<li><a class="docsLink" target="_blank" href="<%= docs[repoLanguage[i].toLowerCase()]%>"><%=repoLanguage[i]%></a></li>
								<%}%>
							<%}%>
						</div>
					</div>
					<div class="item" value="no-filter">
						<div class="content">
							<h4>Latest commits</h4>
							<%for (let i = 0; i < commits.length; i++){%>
								<%if (commits.length == 0){%>
								<li>No commits so far</li>
								<%}else{%>
								<li id="commits"><%=commits[i].user%>: <%=commits[i].message%></li>
								<%}%>
							<%}%>
						</div>
					</div>

					<div class="item" value="no-filter">
						<div class="content">
							<h4>Repository stats</h4>
							<li>Number of commits last week: <%=repositoryStats%></li>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</main>
	<footer></footer>
	<script type="text/javascript" src="scripts/index.js"></script>
	<script type="text/javascript" src="scripts/mainpage.js"></script>
</body>
</html>