<!DOCTYPE html>
<html>
<head>

	<!--- popup https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_target_modal --->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/mainpage.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap">
	<title>Ultra - Tasks</title>
</head>

<body>
	<header>
		<div class="head-container">
            <div class="head-column">
                <!--ORDENTLIG LINK MÅ INN I HREF-->
                <a href="/dashboard"><img id="logo-icon" src="/img/logo.png" alt="Logo"></a>
            </div>
            <div class="head-column">
				<h3 class="dash-title">TASKS</h3>
            </div>
            <div class="head-column">
				<div class="dropdown">
					<img class="dropbtn" id="profilePicture" src="<%=profilePicture%>">
					<div class="dropdown-content">
						<a class="dropdown-li" href="">User-guide</a>
						<a class="dropdown-li" href="">Font-size</a>
						<a class="dropdown-li" href="">Colorblindness</a>
						<a class="dropdown-li" href="/logout">Sign out</a>
					</div>
				</div> 
            </div> 

        </div>
	</header>
	<main>
		<div class="container">
			<div class="column column-1">
				<p class="main-title">TO DO</p>
				<!--Code for the left side info-boxes-->
				<div class="item add-task" onclick="createNewTask()">
					<div class="content">
						<img id="add-task-img" src="/img/plus.png">
					</div>
				</div>
				<!--To-Do code-->
				<%for(let i = 0; i < tasks.length; i++){%>
					<%if(tasks[i].status == "to-do"){%>
						<div class="item" id="<%=tasks[i].id%>" onclick="editTask(this.id)" ondrag="changeStatus(this.id)">
							<div class="content">
								<h4><%= tasks[i].title%></h4>
								<h5><%= tasks[i].owner%></h5>
								<h5><%= tasks[i].category%></h5>
								<p><%= tasks[i].description%></p>
							</div>
						</div>
					<%}%>
				<%}%>
			</div>
			<div class="column column-2">
				<p class="main-title">IN PROGRESS</p>
				<!--Ongoing code-->
				<%for(let i = 0; i < tasks.length; i++){%>
						<%if(tasks[i].status == "in progress"){%>
							<div class="item" onclick="">
								<div class="content">
									<div hidden>tasks[i].status</div>
									<h4><%= tasks[i].title%></h4>
									<h5><%= tasks[i].owner%></h5>
									<h5><%= tasks[i].category%></h5>
									<p><%= tasks[i].description%></p>
								</div>
							</div>
						<%}%>
					<%}%>
			</div>
			<div class="column column-3">
				<p class="main-title">COMPLETE</p>
				<!--Finished code-->
					<%for(let i = 0; i < tasks.length; i++){%>
						<%if(tasks[i].status == "complete"){%>
							<div class="item">
								<div class="content">
									<h4><%= tasks[i].title%></h4>
									<h5><%= tasks[i].owner%></h5>
									<h5><%= tasks[i].category%></h5>
									<p><%= tasks[i].description%></p>
								</div>
							</div>
						<%}%>
					<%}%>
			</div>
			<div class="column column-4">
				<div class="item">
					<div class="content">
						<h4>Repository collaborators</h4>
						<%for (let i = 0; i < collaborators.length; i++){%>
							<%if (collaborators.length == 0){%>
							<li>No collaborators in repo</li>
							<%}else{%>
							<li><%=collaborators[i]%> </li>
							<%}%>
						<%}%>
					</div>
				</div>
				<div class="item">
					<div class="content">
						<h4>Documentation for languages used in repository</h4>
						<%for (let i = 0; i < repoLanguage.length; i++){%>
							<%if (repoLanguage.length == 0){%>
							<li>No programming languages used in repository</li>
							<%}else{%>
							<li><a class="docsLink" target="_blank" href="<%= docs[repoLanguage[i].toLowerCase()]%>"><%=repoLanguage[i]%></a></li>
							<%}%>
						<%}%>
					</div>
				</div>
				<div class="item">
					<div class="content">
						<h4>Latest commits</h4>
						<%for (let i = 0; i < commits.length; i++){%>
							<%if (commits.length == 0){%>
							<li>No commits so far</li>
							<%}else{%>
							<li><%=commits[i].message%> - by <%=commits[i].user%> </li>
							<%}%>
						<%}%>
					</div>
				</div>
			</div>
		</div>	
	</main>

	<footer></footer>
	<script type="text/javascript" src="scripts/mainpage.js"></script>
</body>
</html>